<script setup lang="ts">
import { PropType, reactive } from 'vue';
import isUserAnswer from '../../utility/isUserAnswer';
import answerIsCorrect from '../../utility/answerIsCorrect';
import { TriviaQuestion } from '../../types';

const props = defineProps({
    question: {
        type: Object as PropType<TriviaQuestion>,
        required: true
    },
    userAnswer: {
        type: String as PropType<string>,
        required: true
    },
})
</script>

<template>
<div class="answer-button-list">
    <label class="radio-button" v-for="answer in question.answer_options" v-bind:for="answer">
        <input
            type="radio"
            disabled
            :checked="isUserAnswer(answer, userAnswer)"
            v-bind:value="answer"
        />
        <span v-if="answerIsCorrect(answer, question)" style="color:green;">{{answer}}</span>
        <span v-else style="color:red;">{{answer}}</span>
    </label>
</div>

</template>

<style scoped>
.answer-button-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radio-button {
    cursor: pointer;
    width: 50%;
}

input {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

.radio-button span {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    border: 2px solid #EEE;
    display: inline-block;
    background-color: lightgray;
    border-radius: 10px;
}

.radio-button input:checked + span {
    background-color: #EEE;
    border-color: black;
}
</style>


