<script setup lang="ts">
import { PropType } from "vue";
import { TriviaQuestion } from "../../types";
import AnswerList from './AnswerList.vue';

// Import questions and userAnswers
const props = defineProps({
    questions: {
        type: Array as PropType<TriviaQuestion[]>,
        required: true
    },
    userAnswers: {
        type: Array as PropType<string[]>,
        required: true
    }
})
</script>

<template>
    <ol>
        <li v-for="(question, index) in props.questions"
            :key = "question.id">
            <p class="question">{{question.question}}</p>
            <AnswerList :question="question" :userAnswer="userAnswers[index]"/>
        </li>
    </ol>
</template>

<style scoped>
.question {
    font-weight: bold;
    text-align: center;
    width: 90%;
}

ol {
    padding: 0;
    list-style-type: none;
}
</style>