<script setup lang="ts">
import { computed, PropType } from 'vue';
import { TriviaQuestion } from '../../types';
import calculateScore from '../../utility/calcualateScore';
import userPrompt from '../../utility/userPrompt';

// Import questions and userAnswers
const props = defineProps({
    questions: {
        type: Array as PropType<TriviaQuestion[]>,
        required: true
    },
    userAnswers: {
        type: Array as PropType<string[]>,
        required: true
    },
    username: {
        type: String,
        required: true
    }
})

const score = computed(() => calculateScore(props.questions, props.userAnswers));

</script>

<template>
<h1>Score: {{score}}/100</h1>
<p>{{userPrompt(score)}}</p>
</template>