<script setup lang="ts">
import { computed } from "vue";
import RadioButtons from './RadioButtons.vue';
import { useStore } from '../../store';

// Global storage for username, questions, and answers
const store = useStore();
const questionsInStore = computed(() => store.state.questions);

</script>

<template>
    <ol>
        <li v-for="(question, index) in questionsInStore">
            <p class="question">{{question.question}}</p>
            <RadioButtons :question="question" :index="index"/>
        </li>
    </ol>
</template>

<style scoped>
.question {
    font-weight: bold;
    text-align: center;
    width: 90%;
}

ol {
    padding: 0;
    list-style-type: none;
}

</style>