<script setup lang="ts">
import { PropType, ref } from "vue";
import { useStore } from "../../store";
import { TriviaQuestion } from "../../types";

// Component input
const props = defineProps({
    question: {
        type: Object as PropType<TriviaQuestion>,
        required: true
    },
    index: {
        type: Number,
        required: true
    }
})

// Global storage for username, questions, and answers
const store = useStore();

/**
 * Overwrites the user answers in the store with a new answer on a given index
 * @param answer 
 * @param index 
 */
const updateAnswerInStore = (answer: string, index: number) => {
    let updatedUserAnswers = store.state.userAnswers;
    updatedUserAnswers[index] = answer;
    store.commit("setUserAnswers", updatedUserAnswers);
}

// Keep track of selected answer and index of question
const selectedAnswer = ref("");
</script>

<template>
<div class="answer-button-list">
    <label class="radio-button" v-for="answer in question.answer_options" v-bind:for="question.id+answer">
        <input 
        type="radio"
        v-bind:id="question.id+answer"
        v-bind:value="answer"
        v-model="selectedAnswer" 
        @change="updateAnswerInStore(selectedAnswer, props.index)">
        <span>{{answer}}</span>
    </label>
</div>
</template>

<style scoped>

.answer-button-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radio-button {
    cursor: pointer;
    width: 50%;
}

input {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

.radio-button span {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    border: 2px solid #EEE;
    display: inline-block;
    background-color: lightgray;
    border-radius: 10px;
}
.radio-button input:checked + span {
    background-color: #EEE;
    border-color: black;
}

</style>