<script setup lang="ts">
import { computed } from 'vue';
import router from '../../router';
import { useStore } from '../../store';
import calculateScore from '../../utility/calcualateScore';
import { submitScoreToAPI } from '../../utility/submitScoreToAPI';

// Global storage for username, questions, and answers
const store = useStore();
const questionsInStore = computed(() => store.state.questions);
const userAnswersInStore = computed(() => store.state.userAnswers);
const username = computed(() => store.state.username);

const submitAnswers = async () => {
    // Promp user if there are unanswered questions
    if (userAnswersInStore.value.includes("")) {
        alert("Please answer all the questions dummy!");
        return
    }

    // Submit answers to high score API
    const score = calculateScore(questionsInStore.value, userAnswersInStore.value);
    await submitScoreToAPI(score, username.value);

    // Route to results
    router.push({ path: "/Results" })
}
</script>

<template>
    <button v-on:click="submitAnswers">Submit answers</button>
</template>

<style scoped>
button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
</style>