<script setup lang="ts">
import QuestionList from '../components/Questions/QuestionList.vue';
import SubmitAnswersButton from '../components/Questions/SubmitAnswersButton.vue';

</script>

<template>
    <h1>Questions</h1>
    <QuestionList/>
    <SubmitAnswersButton/>
</template>