<script setup lang="ts">
import { computed } from "vue";
import QuestionResults from "../components/Results/QuestionResults.vue";
import { useStore } from "../store";
import QuestionScore from "../components/Results/QuestionScore.vue"
import HighScoreList from "../components/Utility/HighScoreList.vue";
import router from "../router";

// Global storage for username, questions, and answers
const store = useStore();
const questionsInStore = computed(() => store.state.questions);
const userAnswersInStore = computed(() => store.state.userAnswers);
const username = computed(() => store.state.username);

const home = () => {
    router.push({ path: "/" })
}

</script>

<template>
    <h1>Results</h1>
    <QuestionScore :username="username" :questions="questionsInStore" :userAnswers="userAnswersInStore" />
    <button v-on:click="home">Play again</button>
    <QuestionResults :questions="questionsInStore" :userAnswers="userAnswersInStore" />
    <HighScoreList/>
</template>

<style scoped>
button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
