<script setup lang="ts">
import { ref, reactive, computed } from 'vue';
import { fetchTriviaQuestionsAsync } from '../utility/fetchTriviaQuestionsAsync';
import router from '../router';
import { useStore } from '../store';
import HighScoreList from '../components/Utility/HighScoreList.vue';
import fixQuestions from '../utility/fixQuestions';

// Global storage for username, questions, and answers
const store = useStore();

// Username set dynamically and passed to store
const inputUserName = ref("");

/**
 * Start the quiz after a username has been entered.
 * The method checks that a valid username has been entered.
 * If so, it fetches Questions from the TriviaApi and store these in the store.
 * Then, the user is taken to the Questions page.
 */
const startQuiz = async () => {
    // Push username to store
    store.commit("setUsername", inputUserName.value)

    // Fetch questions
    const [error, generatedQuestions] = await fetchTriviaQuestionsAsync()
    
    // Fix Unicode string formatting for questions in place
    fixQuestions(generatedQuestions);

    // Push updated questions to store
    store.commit("setQuestions", generatedQuestions)

    // Generate empty array of answers
    const emptyUserAnswers: string[] = Array(generatedQuestions.length).fill("");
    store.commit("setUserAnswers", emptyUserAnswers);

    // Move user to the Questions page
    router.push({ path: "/Questions" })
}
</script>

<template>
    <h1>Travilol Trivia Game</h1>
    <div id="welcome-text">
        <p>Hello and Welcome to the Travilol Trivia Game.</p>
        <p>
            This game takes you on a nostalgic travel back to better simpler times,
            when fonts where Times New Roman, and pages were static and bland.
        </p>
        <p>Please input a username to start the game!</p>
    </div>
    <input
        v-on:keyup.enter="startQuiz"
        v-model="inputUserName"
        placeholder="Enter username here..."
    />
    <HighScoreList />
</template>


<style scoped>
#welcome-text {
    text-align: center;
}

input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
</style>
