<template>
    <div id="content-wrapper">
        <router-view />
    </div>
</template>

<style scoped>
#content-wrapper {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 768px){
    #content-wrapper {
        width: 768px;
    }
}
</style>