<script setup lang="ts">
import { onMounted, reactive } from 'vue';
import { UserScore } from '../../types';
import { deleteScoreAsync, getAllScoresAsync, getScoreAsync } from '../../utility/scoreAPI'

// We fetch userScores asynchronously from the API.
const userScores = reactive<UserScore[]>([])

// Delete dewalds silly gingerbread user if it exists.
const deleteCorruptData = async () => {
    const [_error, _score] = await getScoreAsync("gingerbread");
    if(_score.length === 0) return
    const gingerbreadDumbEntry = _score[0];
    await deleteScoreAsync(gingerbreadDumbEntry.id)
}

// Fetch questions asynchronously
onMounted(async () => {
    await deleteCorruptData();
    const [_error, _scores] = await getAllScoresAsync();
    _scores.sort((a, b) => (a.highScore > b.highScore) ? -1 : 1)
    userScores.push(..._scores)
})
</script>

<template>
    <h1>High score list</h1>
    <ol>
        <li v-for="userScore in userScores">
            {{ userScore.username }}
            <p>High Score: {{ userScore.highScore }}</p>
        </li>
    </ol>
</template>

<style scoped>
ol {
    list-style: none;
}

ol li {
    counter-increment: steps;
}

ol li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: black;
  color: white;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.2em;
}

ol li:nth-child(1)::before {
    background: gold;
    width: 2em;
    height: 2em;
}

ol li:nth-child(2)::before {
    background: silver;
    width: 1.75em;
    height: 1.75em;
}

ol li:nth-child(3)::before {
    background: #CD7F32;
    width: 1.5em;
    height: 1.5em;
}

</style>