<script setup lang="ts">
import { computed } from "vue";
import { useStore } from "../../store";
import { deleteScoreAsync } from "../../utility/scoreAPI";

// Store and show currently stored username
const store = useStore();
const usernameAtStore = computed(() => store.state.username);

</script>
<template>
    <nav>
        <h1>Navigation</h1>
        <ul>
            <li>
                <router-link to="/">
                    <span>Home</span>
                </router-link>
            </li>
            <li>
                <router-link to="/Questions">
                    <span>Questions</span>
                </router-link>
            </li>
            <li>
                <router-link to="/Results">
                    <span>Results</span>
                </router-link>
            </li>
        </ul>
    </nav>
    <span>Current username: {{usernameAtStore}}</span>
    <br>
    <button v-on:click="deleteScoreAsync(7)">Test API calls</button>
</template>